body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

/* Header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid red;
}

.logo{
    border: 1px solid red;
}

nav{
    padding: 1em;
    border: 1px solid red;
}

.tulisan{
    padding-left: 1em;
}

.container-film{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid red;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 20%;
    padding-right: 20%;
}

/* Card Film */
.film-item{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    max-width: 225px;
    margin : 1em
}

.poster-film{
    width: fit-content;
}
.film-item .description-film{
    border: 1px solid red;
}

.film-item .description-film .title-film{
    margin: 0;
    font-size: 0.8em;
    max-width: 150px;
}

.film-item .release-date{
    font-size: 0.7em;
}

.film-item .description-film p{
    margin: 0;
    font-size: 0.8em;
}


.page-control{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid red;
    padding: 1em;
}

.page-control .next-page{
   width: 24px;
}

.page-control .previous-page{
    width: 24px;
}

.angka{
    display: flex;
    align-items: center;
}


.angka a{
    margin: 0.5em;
}

.angka-pertama{
    border-bottom: 1px solid red;
}

.angka-kedua:hover{
    border-bottom: 1px solid red;
}

.angka-kedua:hover ~ a{
    border-bottom: none;
}

.titik{
    display: none;
}

/* Media Query*/
@media screen and (max-width: 768px){
    .container-film{
        padding-left: 0;
        padding-right: 0;
    }
}